* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: "Raleway", sans-serif;
}

.container-custom {
  width: 80%;
  margin: auto;
}

.Heading-base {
  font-size: 32pt !important;
}

.Heading-small {
  font-size: 30px !important;
  color: #444649 !important;
}

.p-heading-size {
  font-size: 18pt !important;
  color: #616161 !important;
}

h1,
span,
blockquote {
  color: white;
}

.txt-purple {
  color: #e31b6d;
}

.btn {
  border: 2px solid white;
  color: white;
}

.btn:hover,
.btn:focus {
  background-color: #06c2c9;
  color: white;
}

.arrow-anim {
  transition: transform 0.5s;
}

.btn:hover > .arrow-anim {
  transform: rotate(90deg);
}

.navbar {
  /*   z-index should be above .close-navbar-toggler */
  z-index: 2;
}

.close-navbar-toggler {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

.close-navbar-toggler.collapsed {
  z-index: -1;
}

.nav-bg {
  background-color: #06c2c9;
  height: 80px;
}

nav {
  background-color: #1b242f;
}

.navbar-nav :first-child {
  color: #e31b6d;
}

.navbar-nav a {
  color: white;
}

.navbar-nav a:hover {
  color: #e31b6d;
}

.navbar .navbar-toggler {
  border-color: transparent !important;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 !important;
}

.bg-dark {
  background-color: #1b242f;
}

.border-test {
  border-bottom: 3px solid #06c2c9;
}

.navbar-toggler {
  text-decoration: none;
}

.about-below-line {
  width: 80px;
  height: 5px;
  background-color: #444649 !important;
}

.z-index {
  z-index: 10000;
}

.hexa-img {
  width: 8rem;
  height: 8rem;
}

.flex-basis {
  flex: 25%;
}

.m-about {
  margin: 80px 0px 60px 0px;
}

.icons-abt {
  top: 18%;
  right: 1%;
}

.my-image {
  width: 250px;
  height: 250px;
}

.theme-color {
  background-color: #06c2c9;
  color: white;
}

.bar-filler {
  background-color: #00a1a7;
}

.bar-percentage-deco {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-left: auto;
}

.bar-text {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
}

.bar-height {
  height: 25px;
}

.footer-color {
  background-color: #1b242f;
}

.footer-icon {
  width: 50px;
  height: 50px;
  background-color: #262f38;
  color: white;
}

.footer-icon:hover {
  background-color: #06c2c9;
  color: white;
}

.footer-color a {
  text-decoration: none;
}

.footer-color i {
  color: white;
  opacity: 1.2;
}

.footer-txt-color {
  color: #8f9aa7;
}

.arrow-btn {
  width: 50px;
  height: 60px;
  left: 0;
  right: 0;
  top: -20px;
  margin: auto;
  background-color: #e31b6d;
  color: white;
}

.arrow-btn:hover {
  transition: background-color 1s;
  filter: brightness(1.2);
}

.h-inherit {
  height: inherit;
}

.wrapper {
  /*This part is important for centering*/
  text-align: center;
}

.typing-demo {
  width: 25ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  100% {
    border-color: transparent;
  }
}

/*# sourceMappingURL=style.css.map */
