// *font settings
$font-family-base: "Raleway", sans-serif;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-medium: 18px;
$heading-size-small: 30px;
$heading-size-base: 32pt;
$heading-paragraph: 18pt;
$line-height-base: 1.5;
$line-height-small: 1.25;

//* size settings
$gutter-base: 30px;
$max-width-base: 80%;

//* border settings
$border-width-base: 1px;
$border-radius-base: 4px;

// ? color settings

$text-color-base: #142b6f;
$text-color-primary: #000;
$background-color-base: #fff;
$background-color-primary: #f8f8f8;
$background-color-secondary: #a542b2;

// ? theme colors
$light-background: #ffd8d8;
$light-text: #282525;
$dark-background: #282525;
$dark-text: #ffd8d8;

$heading-small-color: #444649;
$heading-paragraph-color: #616161;

$text-color-theme: #e31b6d;
$text-color-black: black;
$text-color-white: white;
$text-color-dark: #616161;
$text-color-light: #8f9aa7;

$background-color-theme: #06c2c9;
$background-dark-theme: #e31b6d;

$background-color-darktheme: #00a1a7;
$background-dark: #1b242f;

$background-icon-dark: #262f38;
