@use "./variables" as v;
@use "./mixins" as m;

* {
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: v.$text-color-white;
  font-family: v.$font-family-base;
}
.container-custom {
  width: 80%;
  margin: auto;
}
.Heading-base {
  font-size: v.$heading-size-base !important;
}

.Heading-small {
  font-size: v.$heading-size-small !important;
  color: v.$heading-small-color !important;
}
.p-heading-size {
  font-size: v.$heading-paragraph !important;
  color: v.$heading-paragraph-color !important;
}
h1,
span,
blockquote {
  color: v.$text-color-white;
}

.txt-purple {
  color: v.$text-color-theme;
}
.btn {
  border: 2px solid v.$text-color-white;
  color: v.$text-color-white;
}
.btn:hover,
.btn:focus {
  background-color: v.$background-color-theme;
  color: v.$text-color-white;
}

.arrow-anim {
  transition: transform 0.5s;
}

.btn:hover > .arrow-anim {
  transform: rotate(90deg);
}

// nav bar close code here
.navbar {
  /*   z-index should be above .close-navbar-toggler */
  z-index: 2;
}
.close-navbar-toggler {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  cursor: pointer;
}
.close-navbar-toggler.collapsed {
  z-index: -1;
}
// nav bar close code end here

.nav-bg {
  background-color: v.$background-color-theme;
  height: 80px;
}

nav {
  background-color: v.$background-dark;
}

.navbar-nav :first-child {
  color: v.$text-color-theme;
}
.navbar-nav a {
  color: v.$text-color-white !important;
}
.navbar-nav a:hover {
  color: v.$text-color-theme;
}
.navbar-nav a:visited:focus {
  color: v.$text-color-white !important;
}
// .navbar-nav .nav-link:hover {
//   color: white !important;

// --bs-nav-link-hover-color
// }
.navbar .navbar-toggler {
  border-color: transparent !important;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 !important;
}

.bg-dark {
  background-color: v.$background-dark;
}
.border-test {
  border-bottom: 3px solid v.$background-color-theme;
}
.navbar-toggler {
  text-decoration: none;
}
.about-below-line {
  width: 80px;
  height: 5px;
  background-color: v.$heading-small-color !important;
}

.z-index {
  z-index: 10000;
}
.hexa-img {
  width: 8rem;
  height: 8rem;
}
.flex-basis {
  flex: 25%;
}
.m-about {
  margin: 80px 0px 60px 0px;
}
.icons-abt {
  top: 18%;
  right: 1%;
}

.my-image {
  width: 250px;
  height: 250px;
}
.theme-color {
  background-color: #06c2c9;
  color: white;
}
.bar-filler {
  background-color: v.$background-color-darktheme;
}
.bar-percentage-deco {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-left: auto;
}
.bar-text {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
}
.bar-height {
  height: 25px;
}

// footer classes here
.footer-color {
  background-color: v.$background-dark;
}
.footer-icon {
  width: 50px;
  height: 50px;
  background-color: v.$background-icon-dark;
  color: v.$text-color-white;
}

.footer-icon:hover {
  background-color: v.$background-color-theme;
  color: v.$text-color-white;
}
.footer-color a {
  text-decoration: none;
}
.footer-color i {
  color: v.$text-color-white;
  opacity: 1.2;
}
.footer-txt-color {
  color: v.$text-color-light;
}
.arrow-btn {
  width: 50px;
  height: 60px;
  left: 0;
  right: 0;
  top: -20px;
  margin: auto;
  background-color: v.$background-dark-theme;
  color: v.$text-color-white;
}
.arrow-btn:hover {
  transition: background-color 1s;

  filter: brightness(1.2);
}
.h-inherit {
  height: inherit;
}

//typing testing
.wrapper {
  // height: 100vh;
  /*This part is important for centering*/
  // display: grid;
  text-align: center;
}
.typing-demo {
  width: 25ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  100% {
    border-color: transparent;
  }
}
